{% extends "base.html" %}

{% block title %}Productos{% endblock title %}

{% block content %}
<div>
    <h1>Productos</h1>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#212529" fill="none">
            <path d="M12 4V20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M4 12H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Nuevo producto</span>
    </button>
</div>
<div>
    <div>
        {% for product in products %}
        {% include "components/product.html" with item=product %}
        {% empty %}
        <p>No hay productos disponibles</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}