<aside
  class="border-t border-t-gray-200 sm:h-full sm:border-r sm:border-r-gray-200 text-orange-500 font-bold">
  <nav class="sm:h-full sm:flex sm:flex-col sm:justify-between sm:items-center">
    <ul class="flex items-center justify-evenly sm:flex-col">
      <li
        class="group relative sm:w-full flex items-center justify-center py-7 px-3 border-t-2 border-transparent sm:border-t-0 hover:text-orange-600 hover:border-t-orange-600 cursor-pointer transition-colors ease-linear">
        <a class="relative flex items-center gap-2 sm:inline-block sm:w-6 sm:h-6"
          href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30"
            height="30" color="currentColor" fill="none"
            class="absolute left-1/2 -translate-x-1/2 group-hover:-translate-y-3/4 sm:group-hover:translate-y-0 transition-transform">
            <path
              d="M9 22L9.00192 17.9976C9.00236 17.067 9.00258 16.6017 9.15462 16.2347C9.35774 15.7443 9.74746 15.3547 10.2379 15.1519C10.6051 15 11.0704 15 12.001 15V15C12.9319 15 13.3974 15 13.7647 15.152C14.2553 15.355 14.645 15.7447 14.848 16.2353C15 16.6026 15 17.0681 15 17.999V22"
              stroke="currentColor" stroke-width="1.5" />
            <path
              d="M7.08848 4.76243L6.08847 5.54298C4.57181 6.72681 3.81348 7.31873 3.40674 8.15333C3 8.98792 3 9.95205 3 11.8803V13.9715C3 17.7562 3 19.6485 4.17157 20.8243C5.34315 22 7.22876 22 11 22H13C16.7712 22 18.6569 22 19.8284 20.8243C21 19.6485 21 17.7562 21 13.9715V11.8803C21 9.95205 21 8.98792 20.5933 8.15333C20.1865 7.31873 19.4282 6.72681 17.9115 5.54298L16.9115 4.76243C14.5521 2.92081 13.3724 2 12 2C10.6276 2 9.44787 2.92081 7.08848 4.76243Z"
              stroke="currentColor" stroke-width="1.5"
              stroke-linejoin="round" />
          </svg>
          <span
            class="invisible rounded sm:absolute sm:z-10 group-hover:visible group-hover:translate-y-2/3 sm:group-hover:translate-y-0 sm:group-hover:translate-x-2/3 sm:group-hover:bg-white sm:group-hover:px-3 sm:py-1 sm:group-hover:shadow-md transition-all ease-linear quicksand-700">
            Inicio
          </span>
        </a>
      </li>
      <li
        class="group relative sm:w-full flex items-center justify-center py-7 px-3 border-t-2 border-transparent sm:border-t-0 hover:text-orange-600 hover:border-t-orange-600 cursor-pointer transition-colors ease-linear">
        <a class="relative flex items-center gap-2 sm:inline-block sm:w-6 sm:h-6"
          href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30"
            height="30" color="currentColor" fill="none"
            class="absolute left-1/2 -translate-x-1/2 group-hover:-translate-y-3/4 sm:group-hover:translate-y-0 transition-transform">
            <path
              d="M7.5 19.5C7.5 18.5344 7.82853 17.5576 8.63092 17.0204C9.59321 16.3761 10.7524 16 12 16C13.2476 16 14.4068 16.3761 15.3691 17.0204C16.1715 17.5576 16.5 18.5344 16.5 19.5"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <circle cx="12" cy="11" r="2.5" stroke="currentColor"
              stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M17.5 11C18.6101 11 19.6415 11.3769 20.4974 12.0224C21.2229 12.5696 21.5 13.4951 21.5 14.4038V14.5"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <circle cx="17.5" cy="6.5" r="2" stroke="currentColor"
              stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M6.5 11C5.38987 11 4.35846 11.3769 3.50256 12.0224C2.77706 12.5696 2.5 13.4951 2.5 14.4038V14.5"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <circle cx="6.5" cy="6.5" r="2" stroke="currentColor"
              stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <span
            class="invisible rounded sm:absolute sm:z-10 group-hover:visible group-hover:translate-y-2/3 sm:group-hover:translate-y-0 sm:group-hover:translate-x-[50px] sm:group-hover:bg-white sm:group-hover:px-3 sm:py-1 sm:group-hover:shadow-md transition-all ease-linear quicksand-700">
            Clientes
          </span>
        </a>
      </li>
      <li
        class="group relative sm:w-full flex items-center justify-center py-7 px-3 border-t-2 border-transparent sm:border-t-0 hover:text-orange-600 hover:border-t-orange-600 cursor-pointer transition-colors ease-linear">
        <a class="relative flex items-center gap-2 sm:inline-block sm:w-6 sm:h-6"
          href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30"
            height="30" color="currentColor" fill="none"
            class="absolute left-1/2 -translate-x-1/2 group-hover:-translate-y-3/4 sm:group-hover:translate-y-0 transition-transform">
            <circle cx="17" cy="18" r="2" stroke="currentColor"
              stroke-width="1.5" />
            <circle cx="7" cy="18" r="2" stroke="currentColor"
              stroke-width="1.5" />
            <path
              d="M5 17.9724C3.90328 17.9178 3.2191 17.7546 2.73223 17.2678C2.24536 16.7809 2.08222 16.0967 2.02755 15M9 18H15M19 17.9724C20.0967 17.9178 20.7809 17.7546 21.2678 17.2678C22 16.5355 22 15.357 22 13V11H17.3C16.5555 11 16.1832 11 15.882 10.9021C15.2731 10.7043 14.7957 10.2269 14.5979 9.61803C14.5 9.31677 14.5 8.94451 14.5 8.2C14.5 7.08323 14.5 6.52485 14.3532 6.07295C14.0564 5.15964 13.3404 4.44358 12.4271 4.14683C11.9752 4 11.4168 4 10.3 4H2"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M2 8H8" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M2 11H6" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M14.5 6H16.3212C17.7766 6 18.5042 6 19.0964 6.35371C19.6886 6.70742 20.0336 7.34811 20.7236 8.6295L22 11"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <span
            class="invisible rounded sm:absolute sm:z-10 group-hover:visible group-hover:translate-y-2/3 sm:group-hover:translate-y-0 sm:group-hover:translate-x-[50px] sm:group-hover:bg-white sm:group-hover:px-3 sm:py-1 sm:group-hover:shadow-md transition-all ease-linear quicksand-700">
            Pedidos
          </span>
        </a>
      </li>
      <li
        class="group relative sm:w-full flex items-center justify-center py-7 px-3 border-t-2 border-transparent sm:border-t-0 hover:text-orange-600 hover:border-t-orange-600 cursor-pointer transition-colors ease-linear">
        <a class="relative flex items-center gap-2 sm:inline-block sm:w-6 sm:h-6"
          href="{% url "products" %}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30"
            height="30" color="currentColor" fill="none"
            class="absolute left-1/2 -translate-x-1/2 group-hover:-translate-y-3/4 sm:group-hover:translate-y-0 transition-transform">
            <path
              d="M12 7V4.34832C12 2.1606 12.3737 1.6318 14.4968 2.22769L18 3.21095"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            <path
              d="M6 7L7.1398 18.1606C7.31099 19.8368 7.39658 20.6749 7.96796 21.1813C9.1458 22.225 14.7472 22.3198 16.032 21.1813C16.6034 20.6749 16.689 19.8368 16.8602 18.1606L18 7"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            <path d="M5 7H19" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" />
            <path d="M7 12H17" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" />
            <path d="M7 16H17" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" />
          </svg>
          <span
            class="invisible rounded sm:absolute sm:z-10 group-hover:visible group-hover:translate-y-2/3 sm:group-hover:translate-y-0 sm:group-hover:translate-x-[50px] sm:group-hover:bg-white sm:group-hover:px-3 sm:py-1 sm:group-hover:shadow-md transition-all ease-linear quicksand-700">
            Productos
          </span>
        </a>
      </li>
    </ul>
    <ul class="flex items-center justify-evenly sm:flex-col">
      <li
        class="group relative sm:w-full flex items-center justify-center py-7 px-3 border-t-2 border-transparent sm:border-t-0 hover:text-orange-600 hover:border-t-orange-600 cursor-pointer transition-colors ease-linear">
        <a class="relative flex items-center gap-2 sm:inline-block sm:w-6 sm:h-6"
          href="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30"
            height="30" color="currentColor" fill="none"
            class="absolute left-1/2 -translate-x-1/2 group-hover:-translate-y-3/4 sm:group-hover:translate-y-0 transition-transform">
            <path d="M14 8.99988H18" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" />
            <path d="M14 12.4999H17" stroke="currentColor" stroke-width="1.5"
              stroke-linecap="round" />
            <rect x="2" y="2.99988" width="20" height="18" rx="5"
              stroke="currentColor" stroke-width="1.5"
              stroke-linejoin="round" />
            <path d="M5 15.9999C6.20831 13.4188 10.7122 13.249 12 15.9999"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M10.5 8.99988C10.5 10.1044 9.60457 10.9999 8.5 10.9999C7.39543 10.9999 6.5 10.1044 6.5 8.99988C6.5 7.89531 7.39543 6.99988 8.5 6.99988C9.60457 6.99988 10.5 7.89531 10.5 8.99988Z"
              stroke="currentColor" stroke-width="1.5" />
          </svg>
          <span
            class="invisible rounded sm:absolute sm:z-10 group-hover:visible group-hover:translate-y-2/3 sm:group-hover:translate-y-0 sm:group-hover:translate-x-[50px] sm:group-hover:bg-white sm:group-hover:px-3 sm:py-1 sm:group-hover:shadow-md transition-all ease-linear quicksand-700">
            Empleados
          </span>
        </a>
      </li>
      <li
        class="group relative sm:w-full flex items-center justify-center py-7 px-3 border-t-2 border-transparent sm:border-t-0 hover:text-orange-600 hover:border-t-orange-600 cursor-pointer transition-colors ease-linear">
        <a class="relative flex items-center gap-2 sm:inline-block sm:w-6 sm:h-6"
          href="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30"
            height="30" color="currentColor" fill="none"
            class="absolute left-1/2 -translate-x-1/2 group-hover:-translate-y-3/4 sm:group-hover:translate-y-0 transition-transform">
            <path
              d="M11 3L10.3374 3.23384C7.75867 4.144 6.46928 4.59908 5.73464 5.63742C5 6.67576 5 8.0431 5 10.7778V13.2222C5 15.9569 5 17.3242 5.73464 18.3626C6.46928 19.4009 7.75867 19.856 10.3374 20.7662L11 21"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            <path
              d="M21 12L11 12M21 12C21 11.2998 19.0057 9.99153 18.5 9.5M21 12C21 12.7002 19.0057 14.0085 18.5 14.5"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <span
            class="invisible rounded sm:text-nowrap sm:absolute sm:z-10 group-hover:visible group-hover:translate-y-2/3 sm:group-hover:translate-y-0 sm:group-hover:translate-x-[50px] sm:group-hover:bg-white sm:group-hover:px-3 sm:py-1 sm:group-hover:shadow-md transition-all ease-linear quicksand-700">
            Cerrar sesión
          </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>